---
layout: default
title: Welcome
hero: capitol_building.jpg
---

<!-- <aside class="notice"><h1>Recently updated</h1>
{% for person in site.data.2017.primary.candidates | where 'last_updated' == 'now' %}
<p><strong>{{ person.last_updated }}</strong> <a href="people/{{ person.id }}">{{ person.name }}</a></p>
{% endfor %}
</aside> -->


<div class="post">
    <h2 class="post-header">Blog</h2>
    <ul class="posts">
        {% for post in site.posts %}
        <li><span>{{ post.date | date: site.date_format }}</span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
