<aside class="notice">
  <h4>Election Deadlines</h4>
  <ul>
    <li><strong><i class="fa fa-check-square"></i>&nbsp; Friday, 26 May 2017</strong><br>Candidate Filing</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp; Monday, 12 June 2017</strong><br>Signature Deadline</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp; Tuesday, 15 August 2017</strong><br>Special Primary; polling hours reportedly 7:00a-8:00p MDT</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp; Friday, 8 September 2017</strong><br>Filing Deadline Write-in Candidates</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp; Tuesday, 7 November 2017</strong><br>Special Election; polling hours reportedly 7:00a-8:00p MST</li>
  </ul>
</aside>