<details class="notice">
  <summary>Election Deadlines</summary>
  <ul>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;March 15, 2018</strong><br>Declaration of candidacy period ends; declaration of intent to gather signatures period ends</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;March 26, 2018</strong><br>Financial disclosure report due for unaffiliated legislative candidates</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;May 15, 2018</strong><br>Financial disclosure report due for unaffiliated state board of education candidates</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;June 5, 2018</strong><br>Primary election mail ballots are sent to voters</li>
    <li><strong>June 19, 2018</strong><br>Primary election in-person early voting begins</li>
    <li><strong>June 22, 2018</strong><br>Primary election in-person early voting ends (a county may extend early voting until June 25th)</li>
  </ul>
</details>