<details class="notice">
  <summary>Elections Deadlines</summary>
  <h4>Primary Election</h4>
  <ul>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;June 3, 2019 - June 7, 2019</strong><br>Declaration of candidacy period.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;June 28, 2019</strong><br>Ballots are transmitted to overseas and military (UOCAVA) voters.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;July 15, 2019</strong><br>Last day to mail a paper voter registration form.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;July 23, 2019 - July 30, 2019</strong><br>Mail ballots are sent to voters.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;July 30, 2019</strong><br>In-person early voting begins. Voters may register to vote with a provisional ballot at an early polling location. Early voting may not be available in certain municipalities.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;August 6, 2019</strong><br>Last day to request a mail ballot and register to vote online or at the county clerk's office.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;August 9, 2019</strong><br>In-person early voting ends in some jurisdictions, but your jurisdiction may extend the early voting
    period until August 12th. Check with your municipal clerk or recorder for more information.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;August 13, 2019</strong><br>Municipal Primary Election. Voters may register to vote with a provisional ballot at a polling
    location.</li>
  </ul>
  <hr>
  <h4>General Election</h4>
  <ul>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;September 3, 2019</strong><br>Last day to declare write-in candidacy.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;September 20, 2019</strong><br>Ballots are transmitted to overseas and military (UOCAVA) voters.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;October 7, 2019</strong><br>Last day to mail a paper voter registration form.</li>
    <li><strong>October 15, 2019 - October 22, 2019</strong><br>Mail ballots are sent to voters.</li>
    <li><strong>October 22, 2019</strong><br>In-person early voting begins. Voters may register to vote with a provisional ballot at an early polling location. Early voting may not be available in certain municipalities.</li>
    <li><strong>October 29, 2019</strong><br>Last day to request a mail ballot and register to vote online or at the county clerk's office.</li>
    <li><strong>November 1, 2019</strong><br>In-person early voting ends in some jurisdictions, but your jurisdiction may extend the early voting period until
    November 4th. Check with your municipal clerk or recorder for more information.</li>
    <li><strong>November 5, 2019</strong><br>Municipal General Election. Voters may register to vote with a provisional ballot at a polling location.</li>
  </ul>
</details>