<details class="notice">
  <summary>Elections Deadlines</summary>
  <h4>Presidential Primary Election: March 3, 2020</h4>
  <ul>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;January 17, 2020</strong><br>Ballots are transmitted to military voters, their dependents, and voters living outside of the U.S.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;February 3, 2020</strong><br> Last day to mail a paper voter registration form.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;February 11-18, 2020</strong><br>Mail ballots are sent to voters.</li>
    <li><strong><i class="fa fa-check-square"></i>&nbsp;&nbsp;February 18, 2020</strong><br>In-person early voting begins. You may register to vote at an early voting location by casting a provisional ballot.</li>
    <li><strong><i class="fa fa-square"></i>&nbsp;&nbsp;February 25, 2020</strong><br>Last day to request a mail ballot. It is also the last day to register to vote using the online registration system or at your county clerk’s office.</li>
    <li><strong><i class="fa fa-square"></i>&nbsp;&nbsp;February 28, 2020</strong><br> In-person early voting ends in some jurisdictions, but your jurisdiction may extend the early voting period until March 2nd.</li>
    <li><strong><i class="fa fa-square"></i>&nbsp;&nbsp;March 3, 2020</strong><br>Primary election in-person voting</li>
  </ul>
  <h4>Regular Primary Election – June 30, 2020</h4>
  <h4>Regular General Election – November 3, 2020</h4>
</details>