@charset "utf-8";
body {
  background: url('../images/funky-lines.png');
}
main {
    max-width: 62rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
.site-header {
    background: $color-blue;
    padding: 1rem 1rem .6rem 1rem;
    .inner {
      max-width: 50rem;
      margin: 0 auto;
      .site-title {
          display: flex;
          justify-content: center;
          font-weight: 300;
          > a {
              color: $color-white;
              text-decoration: none;
          }
      }
      .site-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
          > a {
              margin-bottom: .5rem;
              color: $color-white;
              &:hover {
                  text-decoration: none;
              }
              &.active {
                  border-bottom: 2px solid $color-white;
              }
              + a {
                  margin-left: 1rem;
              }
          }
          #search-box {
            float: right;
            margin: 0;
            padding: 0;
            input {
              font-family: $base-font-family;
              font-size: $base-font-size;
              padding: .4rem;
              border: none;
              margin-top: -0.6rem;
            }
          }
      }
    }
}

.content-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  > a {
      color: $color-blue;
      
      + a {
          margin-left: 1rem;
      }
  }
  }

.hero {
  width: 100%;
}

.table-image {
  float: left;
  max-width: 75px;
}

#bio-image {
  float: left;
  max-width: 125px;
  margin: 0 1rem 0 0;
}

.icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.social-icon {
  padding: .2rem .6rem;
  border-radius: 10px;
  border: 1px solid #0074d9;
  background: aliceblue;
  margin: 0 .4rem .4rem 0;
}

#map {
    height: 350px;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
  }

.notice {
  background: rgb(203, 239, 255);
  padding: .6rem 1.2rem;
  margin-bottom: 2rem;
  p {
    text-align: left;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: .8rem;
    }
    li:last-child {
      margin: 0;
    }
  }
}

.info {
  background: #e7e7e7;
  padding: .6rem 1.2rem;
  margin: 2rem;
  p {
    text-align: left;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: .8rem;
    }
    li:last-child {
      margin: 0;
    }
  }
}

.posts {
    list-style: none;
    > li {
        line-height: 1.75;
        span {
            color: $meta-color;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}
.post {
    position: relative;
    padding: 1rem 1rem 0 1rem;
    .post-header {
        text-align: center;
        margin: 1rem 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
    }
}

.citation {
  background: #fff;
  font-style: italic;
  margin-left: 1rem;
  padding: 1rem;
  border-left: 2px solid $link-color;
}

iframe {
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
}

.small {
  font-size: $small-font-size;
}

.license {
  font-size: $small-font-size;
  background: rgb(235, 235, 235);
  padding: .8rem;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 { -webkit-margin-before: 0; }

ul, menu, dir {
  -webkit-padding-start: 1rem;
}

.columns {
  columns: 15rem 3;
  column-gap: .6rem;
  margin-bottom: 2rem;
}

.columns ul {
  margin: 0;
}

#disqus_thread {
  margin-top: 3rem;
  padding: 1rem;
  background: #ebebeb;
}

th:hover {
  cursor: pointer;
}

details:hover {
  cursor: pointer;
}

/* MEDIA QUERIES! */

@media screen and (max-width: 48rem) {
    .site-header {
        padding: 1rem 0 1rem 0;
        .inner {
          .site-title {
            font-size: 1.4rem;
            i { font-size: .8rem; }
            }
          .site-nav #search-box {
            float: none;
            margin-top: 1.4rem;
          }
          }
          .site-title,
          .site-nav {
              text-align: center;
          }
        }
    main {
      padding: 0;
    }
    .home, article, footer {
      padding: .8rem;
    }
    .post .post-header {
        margin: 0 0 .6rem 0;
      }
    h3 { font-size: 1rem; }
    h4 { font-size: $small-font-size; }
    p, span, th, td { font-size: $small-font-size; }
}
