<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ page.title }} - Elections Utah" />
    <meta property="og:description" content="Elections Utah is an ongoing, community-driven open data project tracking Utah's elections. All of the data is openly licensed and is in the public domain." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://electionsutah.org" />
    <meta property="og:image" content="{{ site.baseurl }}/images/utah-elections.png" />
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('pi85b5xfmmbw');
    </script>
    <!-- End of Async Drift Code -->
    <title>{{ page.title }} - Elections Utah</title>
</head>
<body>
  {% include welcome.html %}
  <header class="site-header">
      <div class="inner">
        <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }} <i class="fa fa-check-square"></i></a></h1>
        <nav class="site-nav">
            <a href="{{ site.baseurl }}/about/" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
            <a href="{{ site.baseurl }}/data/" class="{% if page.url == '/data/' %}active{% endif %}">Data</a>
            <a href="{{ site.baseurl }}/office/" class="{% if page.url == '/office/' %}active{% endif %}">Office</a>
            <a href="{{ site.baseurl }}/party/" class="{% if page.url == '/party/' %}active{% endif %}">Party</a>
            <a href="{{ site.baseurl }}/people/" class="{% if page.url == '/people/' %}active{% endif %}">People</a>
            <a href="{{ site.baseurl }}/places/" class="{% if page.url == '/places/' %}active{% endif %}">Places</a>
            <a href="{{ site.baseurl }}/resources/" class="{% if page.url == '/resources/' %}active{% endif %}">Resources</a>
            <a href="https://venmo.com/?txn=pay&audience=private&recipients=todrobbins&note=I%20%E2%9D%A4%EF%B8%8F%20ElectionsUtah.org" class="donate"><i class="fa fa-heart" aria-hidden="true"></i> Donate</a>
            <!-- <form action="{{ site.baseurl }}/search" method="get" id="search-box">
              <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
            </form> -->
        </nav>
      </div>
  </header>
    <main>
        {% if page.hero %}
        <img src="images/{{page.hero}}" class="hero">
        {% endif %}

        {{ content }}

        <footer>
          <p style="float: right;">
            <script async defer src="https://slackin-zwtyxgeygk.now.sh/slackin.js?large"></script>
          </p>
          <p>
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
          </p>
          <p class="license"><strong>Elections Utah</strong> is releasing these datasets with a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 1.0 Universal Public Domain data license</a>. You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.</p>
        </footer>
    </main>
    <script src="https://use.fontawesome.com/b9080a0e6a.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/search.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.tablesorter.js"></script>
    {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
    <script type="text/javascript">
      $(function() {
        $('#search-query').lunrSearch({
          indexUrl  : '/js/index.json',           // url for the .json file containing search index data
          results   : '#search-results',          // selector for containing search results element
          template  : '#search-results-template', // selector for Mustache.js template
          titleMsg  : '<h1><em>Search results:</em><h1>',   // message attached in front of results (can be empty)
          emptyMsg  : '<p>No results.</p>'     // shown message if search returns no results
        });
      });
    </script>
    <script>
		$(document).ready(function() {
    	$("table").tablesorter({
        widthFixed: true,
        sortList: [[0,0],[2,0]],
        widgets: ['zebra']
      })
		});
    </script>
</body>
</html>
