---
comments: none
---

{% assign person = site.data.people | where: 'id', page.person | first %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ person.full_name }} - Elections Utah" />
    <meta property="og:description" content="{{ person.full_name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://electionsutah.org" />
    <meta property="og:image" content="{{ site.baseurl }}/images/utah-elections.png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <title>{{ person.full_name }} - Elections Utah</title>
</head>
<body>
  <header class="site-header">
      <div class="inner">
        <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }} <i class="fa fa-check-square"></i></a></h1>
        <nav class="site-nav">
          <a href="{{ site.baseurl }}/about/">About</a>
          <a href="{{ site.baseurl }}/data/">Data</a>
          <a href="{{ site.baseurl }}/docs/">Docs</a>
          <a href="{{ site.baseurl }}/office/">Office</a>
          <a href="{{ site.baseurl }}/party/">Party</a>
          <a href="{{ site.baseurl }}/people/" class="active">People</a>
          <a href="{{ site.baseurl }}/places/">Places</a>
          <a href="{{ site.baseurl }}/resources/">Resources</a>
          <a href="https://venmo.com/?txn=pay&audience=private&recipients=todrobbins&note=I%20%E2%9D%A4%EF%B8%8F%20ElectionsUtah.org" class="donate"><i class="fa fa-heart" aria-hidden="true"></i> Donate</a>
          <!-- <form action="{{ site.baseurl }}/search" method="get" id="search-box">
            <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
          </form> -->
        </nav>
      </div>
  </header>
    <main>
      {% if page.hero %}
      <img src="images/{{page.hero}}" class="hero">
      {% endif %}

      <article class="post">
        <h2 class="post-header">{% if person.first_names %}{{ person.first_names}}&nbsp;{{ person.last_names}}{% else %}{{ person.full_name }}{% endif %} {{ person.2020_election.incumbent | replace: 'yes','<span alt="Incumbent">(I)</span>'}} &nbsp;<i class="fa fa-{{person.gender}}" aria-hidden="true" alt="{{ person.gender | capitalize }}"></i></h2>

        <nav class="content-nav">
          <a href="#biography">Biography</a>
          <a href="#contact">Contact</a>
          <a href="#documents">Documents</a>
          <a href="#endorsements">Endorsements</a>
          <a href="#identifiers">Identifiers</a>
          <a href="#media">Media</a>
        </nav>

        <h3 id="biography">Biography</h3>
        {% if person.image %}
        <img id="bio-image" src="{{ person.image }}" alt="A photo of {{ person.full_name }}">
        {% endif %}
        <p><strong>{{ person.full_name }}</strong> has run for the following offices:
          
        <table>
          <thead>
            <th>Candidate for</th>
            <th>Party</th>
            <th>City</th>
            <th>County</th>
            <th>Status</th>
          </thead>
          <tbody>
            {% if person.2021_election %}  
            <tr>
              <td><a href="{{ site.url }}/office/{{ person.2021_election.office | downcase | replace: ' ','-' | replace: '.','' | replace: '(','' | replace: ')','' }}">{{ person.2021_election.office }} (2021)</a></td>
              <td><a href="{{ site.url }}/party/{{ person.2021_election.party | downcase | replace: ' ','-' | replace: '.','' }}">{{ person.2021_election.party }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2021_election.county | downcase | replace: ' ','-' }}/{{ person.2021_election.city | downcase | replace: ' ','-' }}">{{ person.2021_election.city }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2021_election.county | downcase | replace: ' ','-' }}">{{ person.2021_election.county }}</a></td>
              <td>{{ person.2021_election.candidate_status | replace: '_',' ' | capitalize }}</a></td>
            </tr>
            {% endif %}
            {% if person.2020_election %}  
            <tr>
              <td><a href="{{ site.url }}/office/{{ person.2020_election.office | downcase | replace: ' ','-' | replace: '.','' | replace: '(','' | replace: ')','' }}">{{ person.2020_election.office }} (2020)</a></td>
              <td><a href="{{ site.url }}/party/{{ person.2020_election.party | downcase | replace: ' ','-' | replace: '.','' }}">{{ person.2020_election.party }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2020_election.county | downcase | replace: ' ','-' }}/{{ person.2020_election.city | downcase | replace: ' ','-' }}">{{ person.2020_election.city }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2020_election.county | downcase | replace: ' ','-' }}">{{ person.2020_election.county }}</a></td>
              <td>{{ person.2020_election.candidate_status | replace: '_',' ' | capitalize }}</a></td>
            </tr>
            {% endif %}
            {% if person.2019_election %}
            <tr>
              <td><a href="{{ site.url }}/office/{{ person.2019_election.office | downcase | replace: ' ','-' | replace: '.','' | replace: '(','' | replace: ')','' }}">{{ person.2019_election.office }} (2019)</a></td>
              <td><a href="{{ site.url }}/party/{{ person.2019_election.party | downcase | replace: ' ','-' | replace: '.','' }}">{{ person.2019_election.party }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2019_election.county | downcase | replace: ' ','-' }}/{{ person.2019_election.city | downcase | replace: ' ','-' }}">{{ person.2019_election.city }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2019_election.county | downcase | replace: ' ','-' }}">{{ person.2019_election.county }}</a></td>
              <td>{{ person.2019_election.candidate_status | replace: '_',' ' | capitalize }}</td>
            </tr>
            {% endif %}
            {% if person.2018_election %}
            <tr>
              <td><a href="{{ site.url }}/office/{{ person.2018_election.office | downcase | replace: ' ','-' | replace: '.','' | replace: '(','' | replace: ')','' }}">{{ person.2018_election.office }} (2018)</a></td>
              <td><a href="{{ site.url }}/party/{{ person.2018_election.party | downcase | replace: ' ','-' | replace: '.','' }}">{{ person.2018_election.party }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2018_election.county | downcase | replace: ' ','-' }}/{{ person.2018_election.city | downcase | replace: ' ','-' }}">{{ person.2018_election.city }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2018_election.county | downcase | replace: ' ','-' }}">{{ person.2018_election.county }}</a></td>
              <td>{{ person.2018_election.candidate_status | replace: '_',' ' | capitalize }}</td>
            </tr>
            {% endif %}
            {% if person.2017_election %}
            <tr>
              <td><a href="{{ site.url }}/office/{{ person.2017_election.office | downcase | replace: ' ','-' | replace: '.','' | replace: '(','' | replace: ')','' }}">{{ person.2017_election.office }} (2017)</a></td>
              <td><a href="{{ site.url }}/party/{{ person.2017_election.party | downcase | replace: ' ','-' | replace: '.','' }}">{{ person.2017_election.party }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2017_election.county | downcase | replace: ' ','-' }}/{{ person.2017_election.city | downcase | replace: ' ','-' }}">{{ person.2017_election.city }}</a></td>
              <td><a href="{{ site.url }}/places/{{ person.2017_election.county | downcase | replace: ' ','-' }}">{{ person.2017_election.county }}</a></td>
              <td>{{ person.2017_election.candidate_status | replace: '_',' ' | capitalize }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <br>
        <div class="icon-grid">
          {% if person.2020_election.facebook %}<div class="social-icon"><a href="{{ person.2020_election.facebook }}"><i class="fa fa-facebook-official" aria-hidden="true"></i> <strong>Facebook</strong></a></div>{% endif %}
          {% if person.2020_election.instagram %}<div class="social-icon"><a href="{{ person.2020_election.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i> <strong>Instagram</strong></a></div>{% endif %}
          {% if person.2020_election.medium %}<div class="social-icon"><a href="{{ person.2020_election.medium }}"><i class=  "fa fa-medium" aria-hidden="true"></i> <strong>Medium</strong></a></div>{% endif %}
          {% if person.2020_election.reddit %}<div class="social-icon"><a href="{{ person.2020_election.reddit }}"><i class=  "fa fa-reddit-square" aria-hidden="true"></i> <strong>Reddit</strong></a></div>{% endif %}
          {% if person.2020_election.snapchat %}<div class="social-icon"><a href="{{ person.2020_election.snapchat }}"><i class=  "fa fa-snapchat-square" aria-hidden="true"></i> <strong>Snapchat</strong></a></div>{% endif %}
          {% if person.2020_election.twitter %}<div class="social-icon"><a href="{{ person.2020_election.twitter }}"><i class=  "fa fa-twitter-square" aria-hidden="true"></i> <strong>Twitter</strong></a></div>{% endif %}
          {% if person.2020_election.website %}<div class="social-icon"><a href="{{ person.2020_election.website }}"><i class="fa fa-external-link-square" aria-hidden="true"></i> <strong>Website</strong></a></div>{% endif %}
          {% if person.2020_election.youtube %}<div class="social-icon"><a href="{{ person.2020_election.youtube }}"><i class="fa fa-youtube-square" aria-hidden="true"></i> <strong>YouTube</strong></a></div>{% endif %}
        </div>
        <br>
        <div id="map"></div>
        <script>

          var map = L.map('map', {
            {% if person.2021_election.latitude %}
            center: [{{person.2021_election.latitude}}, {{person.2021_election.longitude}}],
            zoom: 12,
            {% elsif person.2020_election.latitude %}
            center: [{{person.2020_election.latitude}}, {{person.2020_election.longitude}}],
            zoom: 12,
            {% elsif person.2019_election.latitude %}
            center: [{{person.2019_election.latitude}}, {{person.2019_election.longitude}}],
            zoom: 12,
            {% elsif person.2018_election.latitude %}
            center: [{{person.2018_election.latitude}}, {{person.2018_election.longitude}}],
            zoom: 12,
            {% elsif person.2017_election.latitude %}
            center: [{{person.2017_election.latitude}}, {{person.2017_election.longitude}}],
            zoom: 12,
            {% else %}
            center: [39.3210, -111.0937],
            zoom: 6,
            {% endif %}
          });

          L.tileLayer('https://api.mapbox.com/styles/v1/todrobbins/cigbdndmz00019eksg7qvqbzu/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidG9kcm9iYmlucyIsImEiOiJ3cTUyNjVrIn0.8ozG-L3QDKblEshkqiEHFg', { maxZoom: 18, attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'}).addTo(map);

          {% if person.2021_election.latitude %}
          var marker = L.marker([{{person.2021_election.latitude}}, {{person.2021_election.longitude}}]).addTo(map);
          {% elsif person.2020_election.latitude %}
          var marker = L.marker([{{person.2020_election.latitude}}, {{person.2020_election.longitude}}]).addTo(map);
          {% elsif person.2019_election.latitude %}
          var marker = L.marker([{{person.2019_election.latitude}}, {{person.2019_election.longitude}}]).addTo(map);
          {% elsif person.2018_election.latitude %}
          var marker = L.marker([{{person.2018_election.latitude}}, {{person.2018_election.longitude}}]).addTo(map);
          {% else person.2017_election.latitude %}
          var marker = L.marker([{{person.2017_election.latitude}}, {{person.2017_election.longitude}}]).addTo(map);
          {% endif %}

        </script>

        <h3 id="contact">Contact</h3>

        {% if person.2020_election.address %}<p><strong>Address:</strong> <a href="https://www.google.com/maps/place/{{ person.address | replace: ' ','+' }}+{{ person.2020_election.city | replace: ' ','+' }}+{{ person.2020_election.state | replace: ' ','+' }}+{{ person.2020_election.zip | replace: ' ','+' }}">{{ person.2020_election.address }}, {{ person.2020_election.city }}, {{ person.2020_election.state }} {{ person.2020_election.zip }}</a></p>{% endif %}

        {% if person.2020_election.phone %}<p><strong>Phone Number:</strong> <a href="tel:{{ person.2020_election.phone | replace: '-','' | replace: ' ','' | replace: '(','' | replace: ')','' }}">{{ person.2020_election.phone }}</a></p>{% endif %}

        {% if person.2020_election.email %}<p><strong>Email Address:</strong> <a href="mailto:{{ person.2020_election.email }}">{{ person.2020_election.email }}</a></p>{% endif %}

        <h3 id="documents">Documents</h3>

        {% if person.2020_election.documents %}
        {% for document in person.documents %}
        <p><a href="{{ person.2020_election.document.url }}"><i class="fa fa-external-link-square" aria-hidden="true"></i> <strong>{{ person.2020_election.document.note }}</strong> ({{ person.2020_election.document.date }})</a></p>
        {% endfor %}
        {% endif %}

        {% if person.2020_election.pledge %}<p><a href="{{ person.2020_election.pledge }}"><i class="fa fa-external-link-square" aria-hidden="true"></i> <strong>Pledge of Fair Campaign Practices</strong></a></p>{% endif %}

        <h3 id="endorsements">Endorsements</h3>

        {% if person.2020_election.endorsements %}
        {% for endorsement in person.2020_election.endorsements %}
        <blockquote cite="{{ person.2020_election.endorsement.url }}">
          <p>“{{ endorsement.note }}”</p>
          <p><a href="{{ person.2020_election.endorsement.url }}">– {{ person.2020_election.endorsement.author }} ({{ person.2020_election.endorsement.relationship }})</a></p>
        </blockquote>
        {% endfor %}
        {% endif %}

        {% if person.2020_election.pledge %}<p><a href="{{ person.2020_election.pledge }}"><i class="fa fa-external-link-square" aria-hidden="true"></i> <strong>Pledge of Fair Campaign Practices</strong></a></p>{% endif %}

        <h3 id="identifiers">Identifiers</h3>
        <p>
        {% if person.identifiers[0].scheme == 'State of Utah Financial Disclosures' %}
          <a href="https://disclosures.utah.gov/Search/PublicSearch/FolderDetails/{{ person.identifiers[0].identifier }}"><i class="fa fa-external-link-square" aria-hidden="true"></i>  <strong>{{ person.identifiers[0].identifier }}</strong> ({{ person.identifiers[0].scheme }})</a>
        {% endif %}
        </p>

        <h3 id="media">Media</h3>
        {% if person.2020_election.links %}
        {% for link in person.2020_election.links %}
        <ul>
          <li><a href="{{ person.2020_election.links.url }}">{{ person.links.note }}</a></li>
        </ul>
        {% endfor %}
        {% endif %}

        {% if person.2020_election.soundcloud %}<iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ person.2020_election.soundcloud }}"></iframe>{% endif %}

        <aside class="notice"><strong>Last Updated:</strong> {{ person.last_updated }}</aside>

        {{ content }}

      </article>

      <footer>
        <p>
          <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></div>
          <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></div>
          <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></div>
          <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        </p>
        <p class="license"><strong>Elections Utah</strong> is releasing these datasets with a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 1.0 Universal Public Domain data license</a>. You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.</p>
      </footer>
    </main>
    <script src="https://use.fontawesome.com/b9080a0e6a.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.tablesorter.js"></script>
    {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
    <script>
		$(document).ready(function() {
    	$("table").tablesorter({
        widthFixed: true,
        sortList: [[0,0],[2,0]],
        widgets: ['zebra']
      })
		});
    </script>
</body>
</html>