---
layout: default
comments: true
---

{% assign person = site.data.2017.primary.candidates | where: 'id', page.person | first %}

<article class="post">
  <h2 class="post-header">{{ person.name }} {{ person.incumbent | replace: 'true','<span alt="Incumbent">(I)</span>'}} <i class="em em-{{ person.gender | replace: 'female','womens' | replace: 'male','mens' }}" alt="{{ person.gender | capitalize }}"></i></h2>
  <aside class="notice"><strong>Last Updated:</strong> {{ person.last_updated }}</aside>

  <h3>Candidate Biography</h3>
  <p><strong>{{ person.name }}</strong> is a candidate for <strong>{{ person.body }}</strong> of <strong><a href="../../places/{{ person.county | downcase | replace: ' ','-' }}/{{ person.city | downcase | replace: ' ','-' }}">{{ person.city }}</a>, <a href="../../places/{{ person.county | downcase | replace: ' ','-' }}">{{ person.county }}</a>, <a href="../../places">{{ person.state }}</a></strong> (<a href="{{ person.source }}">Source</a>).</p>

  <h3>Contact Info</h3>
  <p><strong>Address:</strong> <a href="https://www.google.com/maps/place/{{ person.address | replace: ' ','+' }}">{{ person.address }}</a></p>
  <p><strong>Phone Number:</strong> <a href="tel:1{{ person.phone_number | replace: '-','' | replace: ' ','' | replace: '(','' | replace: ')','' }}">{{ person.phone_number }}</a></p>
  <p><strong>Email Address:</strong> <a href="mailto:{{ person.email_address }}">{{ person.email_address }}</a></p>
  <p><strong>Website:</strong> <a href="{{ person.website }}">{{ person.website }}</a></p>

  <h3>Media</h3>
  <p>...</p>


  {{ content }}
  {% if site.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname  = '{{ site.disqus_shortname }}';
      var disqus_identifier = '{{ page.id }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  {% endif %}
</article>
